@charset "UTF-8";

@font-face {
    font-family: 'Sriracha';
    src: url(fontes/Sriracha/Sriracha-Regular.ttf);
}

@font-face {
    font-family: 'Passion_one';
    src: url(fontes/Passion_One/PassionOne-Regular.ttf);
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Sriracha';
    --fonte3: 'Passion_one';
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-size: 4em;
    ;
}

header p {
    padding-bottom: 50px;
}

header a,
footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover,
footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 1.5em;
}


.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgba(45, 45, 45, 0.413);
    color: white;

}

.imagem p {
    background-color: rgba(0, 0, 0, 0.094);
    display: inline-block;
    padding: 15px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}