@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

body {
    background: black url('pacote-d013/imagens/fundo-madeira.jpg') bottom center no-repeat fixed;
    background-size: cover;

}

main {
    height: 100vh;
    position: relative;
}

#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url('pacote-d013/imagens/frame-iphone.png') no-repeat;
}

#screen {
    position: relative;
    top: 79px;
    left: 21px;
    height: 473px;
    width: 269px;
}

#redes-sociais {
    position: relative;
    float: right;
    margin-top: 200px;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    transition: 0.4s;
    margin: 30px 30px;

}

img:hover {
    transform: scale(1.5, 1.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.431);
    border: 1px solid white;
}

img:active {
    transform: scale(0.8, 0.8);
    border: 2px solid gray;
    opacity: 0.85;
}