@charset "UTF-8";
/* Todas as demais Mídias */


/* Typical Devide Breakpoints
Pequenas telas: Até 600px;
@media only screen and (max-width: 600px) {...}

Celular: 600px até 768px;
@media only screen and (min-width: 600px) {...}

Tablet: 768px até 992px;
@media only screen and (min-width: 768px) {...}

Desktop: 992px até 1200px;
@media only screen and (min-width: 992px) {...}

Gandres telas: Acima de 1200px;
@media only screen and (min-width: 1200px) {...}
 */

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;

    }

    body {
        background: black url('../imagens/back-print.jpg');
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        color: black;
        text-shadow: none;
    }

    main::after {
        content: 'Essa é a versão impressa!';
        margin: auto;
    }

    #print {
        display: block;
    }

    #tablet {
        display: none;
    }

    #pc {
        display: none;
    }

    #tv {
        display: none;
    }

    #phone {
        display: none;
    }

}

/* 
Media Query para celulares (Quando o site não for feito no método "Mobile First".

@media screen and (max-width: 600px) {}

VVV
@media screen and (min-width: 600px) and (max-width: 768px){} 
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url('../imagens/back-tablet.jpg');
    }

    #tablet {
        display: block;
    }

    #phone {
        display: none;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url('../imagens/back-pc.jpg');
    }

    #phone {
        display: none;
    }

    #tablet {
        display: none;
    }

    #pc {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url('../imagens/back-tv.jpg')
    }

    #phone {
        display: none;
    }

    #pc {
        display: none;
    }

    #tv {
        display: block;
        transform: scale(1.1);
        margin-top: 5px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    main {
        width: 80%;
        height: 600px;
    }


}