@charset "UTF-8";

/* Configurações gerais */


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(181, 181, 181);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s;

}

h1 {
    color: white;
    text-shadow: 2px 2px 1px black;
}